@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  font-family: 'Montserrat';
}

/* Hide scrollbars in Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbars in other browsers */

/* Alternatively, if you want to hide scrollbars but keep the scroll functionality */
html, body {
  overflow: -moz-scrollbars-none; /* For Firefox */
  -ms-overflow-style: none;       /* For Internet Explorer and Edge */
  scrollbar-width: none;          /* For Firefox (newer versions) */
}